
<div class="container">
    <h1>Join QueSee Now!</h1>
    <form [ngFormModel]="form" (ngSubmit)="signup()">
        <div class="form-group">
            <label for="firtsName">First Name</label>
            <input ngControl="firstName" #firstName="ngForm" type="text" class="form-control" required minlength="3">
            <div *ngIf="firstName.touched && firstName.errors">
                <div class="text-danger" *ngIf="firstName.errors.required">First name is required</div>
                <div class="text-danger" *ngIf="firstName.errors.cannotContainSpace">First name cannot contain space</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input ngControl="lastName" #lastName="ngForm" id="lastName" type="text" class="form-control" required>
            <div *ngIf="lastName.touched && lastName.errors">
                <div class="text-danger" *ngIf="lastName.errors.required">Last name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input ngControl="email" #email="ngForm" type="email" class="form-control" id="email" required>
            <div *ngIf="email.control.pending">Validating email ...</div>
            <div *ngIf="email.touched && email.errors">
                <div class="text-danger" *ngIf="email.errors.shouldBeUnique">This email is already taken</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input ngControl="password" #password="ngForm" type="password" class="form-control" id="password" maxlength="120" required>
            <div class="text-danger" *ngIf="password.errors && password.errors.invalidPassword">Invalid Password</div>
        </div>        
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>